h1 {
  margin: 10px 0 0 0;
}
li {
  list-style: none;
}

ul {
  right: 0px;
}
p {
  padding-left: 5px;
}
.row {
  padding: 15px;
  display: flex;
  margin: 15px 0;
}
.units {
  font-size: 20px;
  color: #3a3a3c;
}

.weather-app {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: sans-serif;

  border: 1px solid #3a3a3c;
  border-radius: 10px;
  padding: 15px;
  max-width: 600px;
}
.container {
  width: 100%;
  padding: 15px auto;
}
.row {
  display: flex;
  margin: 15px 0;
}

#city {
  font-size: 40px;
  color: #555555;
}
#date {
  font-size: 25px;
  color: #555555;
}
.temperatureDetails {
  color: #141518;
}
#temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
#searchButton {
  color: darkblue;
  border-color: #3a3a3c;
  text-align: center;
  vertical-align: middle;
}
#searchButton.hover {
  cursor: pointer;
}
#currentLocation {
  color: darkred;
  border-color: #3a3a3c;
  text-align: center;
  vertical-align: middle;
}
#currentLocation.hover {
  cursor: pointer;
}
.units {
  position: relative;
  top: -34px;
  font-size: 18px;
}
#contact {
  color: #141518;
  font-size: 14px;
  float: right;
}
.col-6 {
  position: relative;
  max-width: 50%;
  flex: 0 0 50%;
  width: 100%;
}
